.field[b-g17qqbn7cg] {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.authorBlock[b-g17qqbn7cg] {
    display: flex;
    flex-direction: column;
}

.label[b-g17qqbn7cg] {
    width: 200px;
}

.valueField[b-g17qqbn7cg] {
    width: 400px;
}

.artAuthors[b-g17qqbn7cg] {
    display: flex;
    flex-direction: column;
}

.authorTag[b-g17qqbn7cg] {
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #8b008bff;
    border-radius: 8px;
    background-color: #ff00ff44;
}
