@using BlazorApp.Data.Models
@using BlazorApp.Services
@inject NavigationManager _navigationManager

@page "/"

<PageTitle>Melody</PageTitle>


<div class="container-sm">
    <hr>
    <figure class="text-center">
  <blockquote class="blockquote">
    <p>Мне по-прежнему нравится думать об альбоме, как в прежние времена, как о виниловой пластинке с двумя сторонами: одна заканчивается, другая начинается.</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Дэйв Гаан, британский певец и музыкант, основной вокалист группы Depeche Mode 1962
  </figcaption>
</figure>
  <center>
             <a href="/products"><span data-hover="Выбери свою пластинку">Перейти в склад</span></a>
        </center>
 </div>

